@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,400italic,300italic,700,700italic);
*{ 
	margin: 0; 
}
body{  
	background: black; 
	// font-family: "helvetica", "monaco", "menlo", monospace;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	color: #deebee;
	// color: white;
	font-size: 10pt;
}
a{
	color: white;
}
canvas#main{
	overflow: hidden;
	position: fixed;
}
#info{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 200%;
	font-size: 1rem;
	text-align: center;
}
#info #infoContent{
	width: 100%;
	height: 50%;
	background: black;
}
#info #infoPadding{
	width: 50%;
	position: relative;
	margin: 0 auto;
	top: 150px;
}
#info #infoPadding img{
	width: 100%;
	position: relative;
	margin-bottom: 30px;
}
#info #infoPadding p{
	width: 100%;
	position: relative;
	font-size: 1.4rem;
	margin-bottom: 30px;
}
#info #introText{
	opacity: 0;
	transition: opacity 1s;
}

#info #archLink{
	text-decoration: none;
	color: #C603FF;
}
#info #archLink:hover{
	cursor: pointer;
	color: #FF4936;
}
#info .italic{
	font-style: italic;
}
#info .bold{
	font-style: italic;
	font-weight: 600; 
}
#info a{
	text-decoration: none;
}
#info #scroll{
	color: #74EDED;
	width: 50px;
	height: 50px;
	text-align: center;
	margin: 0 auto;
	line-height: 50px;
	font-size: 50px;
	transform: rotate(-0.25turn);
}

#alert{
	position: fixed; 
	width: 100%;
	top: 90%;
	text-align: center;
	margin: 0 auto;
}
#alert #alertBox{
	font-size: 1.2em;
	background: black;
	padding: 5px 10px; 
	display: inline-block;
}

#stats p{
	padding: 2px 5px 2px 50px;
	text-decoration: none;
	font-size: 10pt;
	margin-bottom: 3px;
	background: black;
}
#stats{
	position: fixed;
	bottom: 50px;
}
#deeb{
	opacity: 0;
}
#deeb p{
   background: #4D4257;
}
